.jumbotron {
  padding-top: 5rem;
  padding-left: 6rem;
  background-image: url(img/cenderawasih.jpg);
  background-size: 100%;
  color: white;
}
#projects {
  background-color: crimson;
}
section {
  padding-top: 2rem;
}
